################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/Lottery/v15/Server/sqlite3
/Lottery.Data/bin/Debug
/Lottery.Data/obj/Debug
/Lottery.Data.Model/bin/Debug
/Lottery.Data.Model/obj/Debug
/Lottery.Mapper/bin/Debug
/Lottery.Mapper/obj/Debug
/Lottery.Service/bin/Debug
/Lottery.Service/obj/Debug
/Lottery.View.Model/bin/Debug
/Lottery.View.Model/obj/Debug
/Lottery.View.Models/obj/Debug
/Lottery.WebApi/bin
/Lottery.WebApi/obj/Debug
/Lottery.WebApi.Tests/bin/Debug
/Lottery.WebApi.Tests/obj/Debug
/packages
/.vs/Lottery/v15
/.vs
/Lottery.Data/obj/Release
/Lottery.Data.Model/obj/Release
/Lottery.Mapper/obj/Release
/Lottery.Service/obj/Release
/Lottery.View.Model/obj/Release
/Lottery.RaffleConsole/Lottery.RaffleConsole/obj
/Lottery.RaffleConsole/.vs/Lottery.RaffleConsole/v15
/Lottery.RaffleConsole/Lottery.RaffleConsole/bin/Debug/netcoreapp2.1
/Lottery.RaffleConsole/Lottery.Data/bin/Debug/netstandard2.0
/Lottery.RaffleConsole/Lottery.Data/obj/Debug/netstandard2.0
/Lottery.RaffleConsole/Lottery.Data/obj
/Lottery.RaffleConsole/Lottery.Data.Model/bin/Debug/netstandard2.0
/Lottery.RaffleConsole/Lottery.Data.Model/obj
/Lottery.RaffleConsole/Lottery.Service/bin/Debug/netstandard2.0
/Lottery.RaffleConsole/Lottery.Service/obj
/Lottery.RaffleConsole/.vs/config
